<%- include(`../partials/header.ejs`)%>

<h3 class="sectionLabel"><strong>Enter Login Info Below :</strong></h2>
	<div  class="login-register-div">
		
		<h5><%=message%></h5>

		<form method="POST" action="/auth/login">
			<fieldset>
				<label for="username">Username :</label>
				<input id="username" type="text" name="username" placeholder="Enter username">
			</fieldset>
			<fieldset>
				<label for="password">Password :</label>
				<input id="password" type="password" name="password" placeholder="Enter password">
			</fieldset>
			<button class="buttons">Log in</button>
		</form>
	</div>

	<%- include(`../partials/footer.ejs`)%>