<%- include(`./partials/header.ejs`)%>

<h3><strong>You are at the BrewReview site</strong></h2>
	<h5><%=message%></h5>

	<img class="images" src="pictures/frontpage.jpg">

<%- include(`./partials/footer.ejs`)%>