<%- include(`./partials/header.ejs`)%>

<h3><strong>Welcome to Brew Reviews</strong></h3>
<h5>View local breweries and leave a review !</h5>
	

	<img class="images" src="pictures/frontpage.jpg">

<%- include(`./partials/footer.ejs`)%>