<%- include(`./partials/header.ejs`)%>

<h3><strong>Welcome to Brew Reviews</strong></h3>
<div id="main-header">
<h3>View local breweries and leave a review !</h3>
	
</div>
	

	<img id="main-image" src="pictures/frontpage.jpg">

<%- include(`./partials/footer.ejs`)%>