body {
	background-color: rgba(235, 228, 208, 1);
	padding: 00px 20px 20px 20px;
	
	
}
header, header a {
	background-color: black;
	color: rgba(222, 247, 233, 1);
	padding: 12px 12px 12px 12px;
	border:solid black 2px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-bottom: 25px;
}
header div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;

}

footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: rgba(222, 247, 233, .75);
	border-top: solid darkred 10px;
	margin-top: 150px;
	align-items: center;
	position:static;
}

#main-image  {
	display: flex;
	width: 90%;
	height: auto;
	margin-top: 100px;
	margin: 0 auto;
	margin-top: 100px;
}
#main-header{
	display: flex;
	justify-content: center;
	font-size: 22%;

}
.address-div{
	margin-left: 19px;
}

.descriptionDiv{
	display:flex;
	flex-direction: column;
	margin-left: 5%;
}

.login-register-div {
	margin:25px;
}

.editComment{
	margin:10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#addReview{
	display:flex;
	margin-top: 20px;
	margin-bottom: 20px;
	flex-direction: column;
	margin-left: 5%;

}

.images {
	max-width: 350px;
	max-height: 350px;
	margin: 20px;
}

.addCommentUL{
	border: solid white 2px;

}

.li {
	margin: 15px;
	font-size: 18px;
	color:black;
}

a {color:black;}


.li a:hover {
  color: darkgoldenrod;
  margin: 5px;
  font-size: 22px;
}

.linkButtons {
	background-color: white;
	color:black;
	padding:7px;
	width: 60px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
#editButton {
	background-color: white;
	color:black;
	padding:7px;
	width: 115px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#button , .buttons {
	display: flex;
	margin: 20px 0px;
	padding:5px 7px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.upload{
	display: flex;
	background-color: whitesmoke; 
	margin: 20px 0px;
	max-width: 250px;
	padding:5px 7px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.buttonsDiv{
	display:inline;
	flex-direction: column;
}

.sideBySide{
	display:inline-flex;
	margin-top: 3%;
	align-items: center;
}

.hide-bullets-UL {
	list-style-type: none;
}
#textboxFieldset{
	display:flex-inline;
	flex-direction: row;
	justify-content: flex-start;
}
#textboxFieldset > label{
	display:flex-row;
	vertical-align: top;
}


#drinkDescription {
	margin-bottom: 20px;
}

.sectionLabel{
	margin: 15px;
	font-size: 30px
}

.commentsUL {
	display:flex;
	flex-direction: column;
	border:solid black 2px;
	border-radius: 15px;
	/*width: 75%;*/
	background-color: rgba(222, 247, 233, .75);
	color:black;
/*	padding-right: 150px;
	padding-left: 150px;*/
	list-style-type: none;
	align-items: left;
	margin-top:10px;
	margin-left:15%;
	margin-right: 15%;
	padding-right: 40px;

	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


.commentLiTitle {
	text-decoration: underline;

}